<template>
  <section>
    <h1>Oir, {{ usuario }}</h1>
    <select v-model="opcaoSelecionada" v-on:change="onChange">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>

    <TabelaPokemon v-bind:pokemons="pokemons"/>
    
  </section>
</template>

<script>
  import PokeApi from '../../api/pokeApi.js'
  import TabelaPokemon from '../shared/TabelaPokemon.vue'
  import LinhaPokemon from '../shared/LinhaPokemon.vue'

  export default {
    name: 'Home',
    components: {
      TabelaPokemon, LinhaPokemon
    },
    data: () => {
      return {
        usuario: '',
        opcoes: [
          { id: 1, texto: 'Normal' },
          { id: 2, texto: 'Lutador' },
          { id: 3, texto: 'Voador' },
        ],
        opcaoSelecionada: {},
        pokemons: []
      }
    },
    methods: {
      async onChange() {
        const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
        this.pokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, 5, 1 )
      }
    },
    created() {
      this.usuario = this.$route.params.usuario
    }
  }
</script>
