* {
  box-sizing: border-box;
}
body {
  background-color: dimgrey;
  font-family: 'Antic', sans-serif;
  margin: 0;
}

.pesquisa {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5vh;
  width: 20vw;
}

.pesquisa * {
  border-radius: 100px;
  height: 5vh;
  margin: 0.1vh 0;
  min-width: max-content;
  width: inherit;
}

.pesquisa input:placeholder-shown {
  padding-left: 3%;
}

.pesquisa button {
  background-color: dimgrey;
  border: 2px solid lightgrey;
  color: lightgray;
  font-weight: bold;
}

.pesquisa button:hover {
  background-color: lightgrey;
  border: 2px solid dimgrey;
  color: dimgrey;
  cursor: pointer;
}

#dados-pokemon {
  background-color: lightgrey;
  border-radius: 15px;
  margin: 0 auto;
  padding: 3%;
  width: 50%;
}

h1, h3 {
  text-align: center;
}

h1, h3 {
  font-family: 'Montserrat Subrayada', sans-serif;
}

.imagem {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.info-row {
  display: flex;
  flex-flow: row;
}

.info-api {
  width: 68%;
}

.bold {
  font-weight: bold;
  width: 7vw;
  min-width: fit-content;
}

.vertical-lines {
  background-image: linear-gradient( 90deg, currentColor, currentColor 33.33%, transparent 33.33%, transparent 100%);
  background-size: 3px 100%;
  border-style: none;
  height: 10px;
  margin: 5% 0;
  width: 100%;
}

ul {
  font-size: 1.2em;
  list-style-type: none;
}

ul li {
  height: 5vh;
  min-height: fit-content;
}

.status-bar {
  align-items: center;
  background: dimgrey;
  color: lightgrey;
  display: flex;
  font-size: 0.8em;
  height: 25px;
  max-width: 100% !important;
  padding-left: 1.5%;
}
