* {
  box-sizing: border-box;
}

body {
  background-color: #8B2635;
  color: crimson;  
  margin: 0 auto;
  font-family:  Arial, Helvetica, sans-serif;
}

p {
  text-indent: 2em;
}

.container {
  background-color: #E3C567;
  color: #100007;
  margin: auto;
  min-width: min-content;
  padding: 0 2%;
  width: 50vw;
}

form {
  margin-bottom: 5%;
}

input[type="file"] {
  background-color: chartreuse;
}

h1 {
  color: #020202;
  text-align: center;
}

footer {
  background-color: #8b2635;
  border-top: 1px solid #cc2236;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100vw;
}
