body {
  margin: 0 auto;
}

.flag {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
}

.lista-horizontal-1, .lista-horizontal-2 {
  background-color: #021075;
  height: 150px;  
}

.lista-horizontal-1 {
  width: 35vw;
}

.lista-horizontal-2 {
  width: 100vw;
}

.lista-vertical {
  background-color: #021075;
  height: 100vh;
  width: 220px;
}
