<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" v-validate="'required|email|email-dbc'" v-bind:name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@email.com">
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém.</small>
    <div v-show="errors.has(this.nome)" class="alert alert-danger">
      <span>{{ errors.first(this.nome) }}</span>
    </div>
  </div>
</template>
import VeeValidate, { Validator } from 'vee-validate'
<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: '',
    }
  },
  created() {
    this.$validator.extend('email-dbc', {
      getMessage(campo, valor) {
        return 'O email precisa ser da DBC'
      },
      validate(valor, campo) {
        return valor.search(/@dbccompany.com.br$/) > -1
      }
    })
  }
}
</script>
