<template>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Foto</th>
          <th scope="col">Altura</th>
          <th scope="col">Peso</th>
        </tr>
      </thead>
      <tbody>
        <LinhaPokemon v-bind:pokemon="pokemon" v-for="pokemon in pokemons" v-bind:key="pokemon.id"/>
      </tbody>
    </table>
</template>

<script>
import LinhaPokemon from './LinhaPokemon.vue'
export default {
  name: 'TabelaPokemon',
  props: {
    pokemons: Array
  },
  components: {
    LinhaPokemon
  }
}
</script>

<style>
  .table {
    color: #FFFAFF;
    align-content: center;
    background: #281E1E;
  }

  .table tbody td {
    vertical-align: middle;
  }

  tbody tr {
    background-color: #FFFAFF;
    color: #281E1E;
  }

  tbody tr:nth-child(odd) {
    background-color: #FFF3F3;
    color: #281E1E;
  }
</style>
