* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.bandeira {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 150vw;
}

.listra {
  height: calc( 100vh / 3 );
  width: 100vw;
}

.preta { background-color: black; }
.vermelha { background-color: #df0100; }
.amarela { background-color: #fed002; }
