* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.bandeira {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.listra {
  width: 100vw;
}

.listra-horizontal-1, .listra-horizontal-2 {
  background-color: #021075;
  height: 150px;
}

.listra-horizontal-1 {
  width: 35vw;
}

.listra-horizontal-2 {
  width: 100vw;
}

.listra-vertical {
  background-color: #021075;
  height: 100vh;
  min-width: width: 220px;
  width: 220px;
}
