* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.bandeira {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 150vh;
}

.listra {
  height: calc(100vh / 9);
  width: 100vw;
}

.cruz {
  display: flex;
}

.cruz .branca-vertical {
  background-color: white;
  width: calc(100vh / 9);
}

.branca { background-color: white; }
.azul { background-color: #055cb2; }
.cruz .azul { width: calc((100vh / 9) * 2); }
.cruz .branca { width: calc((100vh / 9) * 5); }
