* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.bandeira {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.sol {
  background-color: #d50000;
  border-radius: 100%;
  height: 50vh;
  width: 50vh;
}
