* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: green;
}

.bandeira {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 150vw;
}

.listra {
  width: 100vw;
}

.branca {
  align-items: center;
  background-color: white;
  display: flex;
  height: calc(100vh / 2);
  justify-content: center;
}

.branca img {
  height: 98%;
}

.vermelha {
  background-color: #ee0e19;
  height: calc(100vh / 4);
}
