<template>
  <div class="form-group">
    <label for="exampleInputEmail">Email</label>
    <input type="email" class="form-control" v-bind:name="nome" v-model="valor" id="exampleInputEmail"
    aria-describedby="emailHelp" placeholder="Informe o email">
    <small id="emailHelp" class="form-text text-muted">Não vamos compartilhar seu email com ninguém</small>
  </div>
</template>

<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>
