<template>
  <div class="form-group">  
    <label v-bind:for="nome">Email</label>
    <input type="password" class="form-control" v-bind:name="nome" v-model="valor" v-bind:id="nome"
      placeholder="Senha">
  </div>
</template>

<script>
export default {
  name: 'PasswordInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: ''
    }
  }
}
</script>
