<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokedex</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Antic|Montserrat+Subrayada" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="estilo/estilo.css">
</head>
<body>
  <section id="meuPrimeiroApp" class="container">
    <div class="pesquisa">
      <input placeholder="Informe o id (1 a 802)"
      v-on:blur="buscar()" v-model="idPokemon" type="number">
      <button v-on:click="buscarRandomico()">Estou com sorte</button>
      <h2 v-if="pokemonValido === false">Nenhum pokemon selecionado!</h2>
    </div>


    <div class="dados-pokemon" v-if="pokemonValido">
      <hr class="vertical-lines">

      <h1>{{ pokemon.nome }}</h1>
      <div class="imagem">
        <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">
      </div>
      <div class="info">
        <div class="info-row"><span class="bold">Id: </span> {{ pokemon.id }}</div>
        <div class="info-row"><span class="bold">Altura: </span> {{ pokemon.altura }}</div>
        <div class="info-row"><span class="bold">Peso: </span> {{ pokemon.peso }}</div>
      </div>

      <hr class="vertical-lines">

      <h3>Tipo</h3>
      <ul>
        <li v-for="tipo in pokemon.tipos">{{ tipo }}</li>
      </ul>

      <hr class="vertical-lines">

      <h3>Status</h3>
      <ul>
        <li v-for="status in pokemon.status">
          {{ status.stat.name }}:
          <div v-bind:style="{ width: status.base_stat + '%'}" class="status-bar">
            {{ status.base_stat }}
          </div>
        </li>
      </ul>
      
    </section>
  </div>
    <script src="src/pokemon.js"></script>
    <script src="src/pokeApi.js"></script>
    <script src="src/app.js"></script>
  </body>
</html>
