<template>
  <table v-show="opcaoSelecionada.texto" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Foto</th>
          <th scope="col">Altura</th>
          <th scope="col">Peso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <LinhaPokemon v-bind:pokemon="pokemon" v-for="pokemon in pokemons" v-bind:key="pokemon.id"/>
        </tr>
      </tbody>
    </table>
</template>

<script>
import LinhaPokemon from './LinhaPokemon.vue'
export default {
  name: 'TabelaPokemon',
  props: {
    pokemons: Array
  },
  components: {
    LinhaPokemon
  }
}
</script>
