* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Antic', sans-serif;
  background: linear-gradient(45deg, #121314 25%,
    black 25%, black 50%, 
    #121314 5%, #121314 75%, 
    black 75%);
  background-size:25px 25px;
  box-shadow:inset 0 0 200px 2px #333;
  -webkit-box-shadow:inset 0 0 20px 2px #333;
  width:100%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: auto;
}

.container {
  background-color: lightgrey;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  min-width: fit-content;
  width: 50%;
}

.pesquisa {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5vh;
  width: 20vw;
}

.pesquisa * {
  border-radius: 100px;
  height: 5vh;
  margin: 0.1vh 0;
  min-width: max-content;
  width: inherit;
}

.pesquisa input {
  border: 1px solid white;
  text-align: center;
}

.pesquisa button {
  background-color: dimgrey;
  border: 2px solid lightgrey;
  color: lightgray;
  font-weight: bold;
}

.pesquisa button:hover {
  background-color: lightgrey;
  border: 2px solid dimgrey;
  color: dimgrey;
  cursor: pointer;
}

.dados-pokemon {
  border-radius: 15px;
  font-size: 1.3em;
  margin: 0 auto;
  padding: 3%;
  width: 70%;
}

h1, h3 {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
}

.imagem {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.info-row {
  display: flex;
}

.bold {
  font-weight: bold;
  width: 85px;
  min-width: fit-content;
}

.vertical-lines {
  background-image: linear-gradient(90deg, dimgrey, 
    dimgrey 33.33%, transparent 33.33%, transparent 100%);
  background-size: 3px 100%;
  border-style: none;
  height: 10px;
  margin: 5% 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  height: 5vh;
  min-height: fit-content;
}

.status-bar {
  align-items: center;
  background: dimgrey;
  color: lightgrey;
  display: flex;
  font-size: 0.7em;
  font-weight: bolder;
  height: 25px;
  padding-left: 1.5%;
}
