<template>
  <section>
    <h1>Oir, {{ usuario }}</h1>

    <select v-model="opcaoSelecionada" v-on:change="onChange">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao">
        {{ opcao.texto }}
      </option>
    </select>

  <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>

  </section>
</template>

<script>
import PokeApi from '../../api/pokeApi.js'

export default {
  name: 'Home',
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador'},
        { id: 3, texto: 'Voador' }
      ],
      opcaoSelecionada: {}
    }
  },
  methods: {
    onChange() {
      console.log(`${this.opcaoSelecionada.id} - ${this.opcaoSelecionada.texto}`);
      
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  }
}
</script>
