<template>
  <form v-on:submit.prevent="onSubmit">
    <EmailInput nome="usuario" ref="usuarioRef"/>
    <PasswordInput nome="senha" ref="senhaRef"/>
    <Button texto="Entrar" type="submit"/>
  </form>
</template>

<script>

import Button from '../shared/Button.vue'
import EmailInput from '../shared/EmailInput.vue'
import PasswordInput from '../shared/PasswordInput.vue'

export default {
  name: 'Login',
  components: {
    Button, EmailInput, PasswordInput
  },
  methods: {
    onSubmit() {
      console.log('foi!');      
      console.log(`ref: ${this.$refs.usuarioRef.valor}`);
      console.log(`ref: ${this.$refs.senhaRef.valor}`);

      const usuario = this.$refs.usuarioRef.valor
      const senha = this.$refs.senhaRef.valor

      const podeLogar = usuario === 'admin@admin' && senha === 'senha'
      if (podeLogar) {
        this.$router.push({ name: 'home', params: { usuario }})
      }
    }
  }
}
</script>

<style scoped>
</style>
