<template>
  <section>
    <h1>Oir, {{ usuario }}</h1>
    <span>Selecione o tipo de pokémon: </span>
    <select v-model="opcaoSelecionada" @change="onChange">
      <option v-for="opcao in opcoes" :key="opcao.id" :value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <hr v-show="opcaoSelecionada.texto">
    <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>

    <!-- não funciona usando Button -->
    <div class="info-paginas">
      <button v-on:click="paginaAnterior" v-show="pagina >= 2" class="botao">Página Anterior</button>
      <span v-show="pagina > 0">Página atual: {{ pagina }}</span>
      <button v-on:click="proximaPagina" v-show="pagina > 0" class="botao">Próxima página</button>
    </div>

    <TabelaPokemon :pokemons="pokemons" v-show="opcaoSelecionada.texto"/>

  </section>
</template>

<script>
import PokeApi from '../../api/pokeApi.js'
import LinhaPokemon from '../shared/LinhaPokemon.vue'
import TabelaPokemon from '../shared/TabelaPokemon.vue'
import Button from '../shared/Button'

export default {
  name: 'Home',
  components: {
    LinhaPokemon, TabelaPokemon, Button
  },
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador' },
        { id: 3, texto: 'Voador' },
      ],
      opcaoSelecionada: {},
      opcaoAtual: null,
      pokemons: [ ],
      pagina: 0,
      qtdPokemons: 10,
      textoProxPagina: 'Próxima página',
      textoPagAnterior: 'Página anterior'
    }
  },
  methods: {
    paginaAnterior() {
      this.pagina--
      this.onChange()
    },
    proximaPagina() {
      this.opcaoAtual = this.opcaoSelecionada.id
      this.pagina++
      this.onChange()
    },
    async onChange() {
      if (this.pagina === 0 || this.opcaoAtual !== this.opcaoSelecionada.id) this.pagina = 1
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      this.pokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, this.qtdPokemons, this.pagina )
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  }
}
</script>

<style>
  .info-paginas {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .botao {
    background-color: #241818;
    border: 1px solid #281B2E;
    border-radius: 6px;
    color: #fff3f3;
    cursor: pointer;
    font-weight: bold;
    margin: 1px;
    padding: 1%;
    width: max-content;
  }

  .botao:hover{
    box-shadow: 2px 1px 5px 1px #5a4141 inset;
  }

</style>
