* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: bisque;
  margin: 0 auto;
}

.imagens {
  background-color: #cccccc;
  border-bottom: 3px solid rgba(0,0,0,0.8);
}

.inicio {
  background-image: url("img/peruibe.jpg");
  background-repeat: no-repeat;
  height: 90vh;
}

h1 {
  background: rgba(0,0,0,0.8);
  color:#67acab;
  font-family: 'Kavivanar', cursive;
  font-size: 9em;
  margin: 0;
  min-width: min-content;
  padding: 0 2%;
  transform: rotate(9deg);
  width: 45vw;
}

nav {
  margin-top: 25vh;
  height: 10vh;
}

nav ul {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  margin: 0;
  min-height: fit-content;
  text-align: end;
  width: 100%;
}

nav ul li {
  display: inline-block;
  height: 100%;
  padding: 0 4%;
}

nav ul li a {
  color: white;
  display: block;
  font-family: Kavivanar;
  font-size: 1.2em;
  height: 100%;
  padding: 3vh 0;
  text-decoration: none;
}

h2, h3 {
  font-family: 'Kavivanar', cursive;
  text-indent: 1em;
}

.fotos-cidade img {
  width:100%;
  height:55vh;
  object-fit:cover;
}

main {
 margin-bottom: 5vh;
}

main p, section ul {
  font-family: sans-serif;
  font-size: 1.1em;
  line-height: 1.3em;
  margin: 0 auto;
  text-decoration: none;
  width: 80%;
}

#turismo ul li {
  column-count: 2;
  column-fill: balance;
  height: 35vh;
  list-style: none;
}

#turismo ul li img {
  width: 40vw;
  height: 23vh;
  object-fit: cover;
}

#turismo a {
  text-decoration: none;
  color:black;
}

#lugares {
  min-height: fit-content;
  height: 25vh;
}

section ul li {
  list-style: none;
}

section ul li a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.3em;
  font-size: 0.8em;
}

footer {
  background-color: rgb(172, 172, 175);
  font-family: 'Quicksand', sans-serif;
  height: 18vh;
  line-height: 1.5em;
  min-height: fit-content;
  padding-top: 3vh;
  text-align: center;
}

#lugares, .lugares-recomendados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#lugares h3 {
  width: 100%;
  flex-basis: 100%;
}

.lugares-recomendados {
  width: 80%;
}

.lugares-recomendados a {
  background-color: lightslategrey;
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: 0.5vw 1vw;
  padding: 10px;
  text-decoration: none; 
}
